     body{
        width: 65%;
        margin: auto;
        background-color:  rgb(202, 201, 201);
     }
     .estiloSec img{
         width: 90%;
         margin-left: 5%;
     }
     .zonaAutor img{
         margin-left: 2%;
     }
     tr:nth-child(even) {
        background-color:  white;
     }
     tr:nth-child(odd) {
        background-color:  darkgrey;
     }
     tr:nth-child(1){
         background-color:  rgb(45, 2, 80);
         color:white;
     }
     article label{
         background-color: darkgrey;
         font-size: large;
     }
     /*
     Hasta aquí cambios generales de este ejercicio (Practica CSS)
     Hay algunos cambios menores en clases de abajo, colores y tal.
     */
     .navMenu{
        font-size: large;
        color: black;
        text-align: center;
        word-spacing: 40px;
        padding: 5px 5px 5px 5px;
        border-width: 3px;
        border-color: rgb(45, 2, 80);
        border-style: solid;
        background-color:rgb(10, 145, 194);
    }
    .estiloSec{
        margin-top: 1px;
        margin-bottom: 1px;
        border: 5px rgb(45, 2, 80);
        border-width: 3px;
        border-style: solid;
        display:flex;
        justify-content: center;
    }

    .headerPrincipal{
        border-width: 3px;
        border-color:rgb(45, 2, 80);
        font-size: xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:white;
        text-align: center;
        background-image: url(img/fondo2.jpg);
    }
    .anuncioI{
        float: left;
        border-style: solid;
        border: 3px black;
        border-width: 3px;
    }
    .anuncioD{
        float: right;
        border-style: solid;
        border: 3px black;
        border-width: 3px;
    }
    .estiloTabla{
        table-layout: auto;
        width: 100%; 
        text-align: center;
        font-size: x-large;
        padding: 5px 5px 5px 5px;
    }
    .textoIzq{
        text-align: left;
    }
    .zonaAutor{
        float: left;
        margin-right: 1%;
        width: 24%;
        height:500px;
        background-color: white;
        font-size: large;
    }
    .zonaPost{
        float: left;
        width: 75%;
        height:500px;
        background-color: white;
        font-size: large;
    }
    .textoCabeceraPost{
        text-align: center;
        color: white;
        background-color: black;
    }
    .estiloArticulo{
        border-style: solid;
        border: 1px black;
        border-width: 1px;
    }
    .articulo{
        min-height: 500px;
    }
    .publicacionIzquierda{
        font-weight: bold;
        padding-right: 30px;
    }
