body{
    width: 70%;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article div{
    display: flex;
    border-style: dashed;
    border-color: blue;
    border-width: 2px;
    padding: 2px;
    background-color: rgb(201, 233, 235);
}
img{
    width: 140px;
    height: 85px;
    padding: 4px;
}
article p{
    font-size: 0.88rem;
}
h1,h2{
    background-color: rgb(5, 53, 212);
    color: white;
    font-size:large;
    padding-left: 0.5%;
}
h3{
    color:rgb(5, 53, 212);
    font-size: medium;
}