div.cuaderno a:after{
    content:url('imagenes/link.png');
    padding-left:1em;
}

div.bloqueexplicacion > ol {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion > ul {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion dd {
    border: dotted 0.1em black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: #ffd6d6;
}
body{
    width: 65%;
    margin: auto;
    background-color: rgba(209, 199, 199, 0.884);
}
.cabecera{
    text-align: center;
    color:white;
    background-color: blue;
    font-size: x-large;
}
.lateral{
    float: left;
    width: 25%;
    background-color: blue;
}
.lateral img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    background-color: white;
}
.central{
    float: right;
    width:74%;
}
.pie{
    float: right;
    text-align: right;
    background-color: blue;
    color:  rgba(255, 255, 0);
    width: 100%;
    font-weight: bold;
}
.lateral li{
    color: rgba(255, 255, 0);
    font-weight: bold;
}
.lateral li a{
    color: white;
    text-decoration: unset;
}
.aviso{
    border-style: double;
    border-color: red;
    border-width: thick;
    background-color: rgb(195, 241, 224);
}
p.tituloaviso{
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}
div.aviso p.tituloaviso:after,p.tituloaviso:before{
    content:url('imagenes/construccion.png');
}
.cuerpoaviso{
    text-align: center;
}
.central h2{
    border-style: double;
    border-color: blue;
    border-width: thick;
    background-color: rgb(195, 241, 224);
    color:blue;
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
}
.areaLimpia{
    float: right;
    border-style: dashed;
    border-width: thick;
    border-color: blue;
    background-color: white;
}
.cuaderno{
    background-color: rgb(249, 255, 172);
    padding-bottom: 0.8em;
}
.cuaderno h3{
    margin: 5px 5px 5px 5px;
    color: blue;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding: 5px;

}
.bloqueexplicacion{
    width: 95%;
    margin: auto;
    background-color: rgb(167, 253, 245);
    margin-top: 2px;
    padding-top: 0.8em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.8em;
}
.salidapantalla{
    color: green;
    background-color: black;
    border-style: double;
    border-color:yellow;
    border-width: thick;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    padding-left: 0.8em;
}
