.vMain:hover  ~ .vOtros{
    background-color: green;
}
/*
Esto no va dentro de la tabla, parece que solo funciona con divs
y aunque coloque un div dentro de un th tampoco funciona.

Como apaño podría poner un 
        display:flex;
        justify-content: center;
con un monton de divs que contienen divs, emulando una tabla.

webs usadas: 
            https://www.w3schools.com/cssref/sel_hover.asp
            https://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling
            https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered
            http://jsfiddle.net/u7tYE/1/
            (El ultimo un ejemplo útil)
            Trucos para tablas:
            https://css-tricks.com/complete-guide-table-element/
*/
.vMain:hover ~ th.vOtros{
    background-color: green;
}
.a:hover ~ .b {
    background: #ccc
}

p.prueba:hover ~ .prueba{
    background-color: greenyellow;
}
p.verde:hover ~ .verde{
    background-color: greenyellow;
}
tr ~ th{
    background-color: maroon;
}